{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        {% include 'image/image-form-template.html.twig' %}
    </div>
{% endblock %}